
<link href="~/Content/newsStyle.css" rel="stylesheet" />
<div class="card">
    @{
        var x = +Model.Id + ".jpg";


    }
    <img class="card-img-top" src="~/Uploads/@x" height="180"  alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title" >  @Model.Title  </h5>
        <p class="card-text"> @Model._News</p>
        <p class="card-text"><small class="text-muted">@Model.Publiction_Date</small></p>
    </div>
</div>
