@model IEnumerable<News_Application.Models.author>

@{
    ViewBag.Title = "Index";
}



@if (Request.IsAuthenticated)

{

    <p>
        @Html.Partial("_CreateButtonPartian")
    </p>
}

<div class="table-responsive">
    <table class="stripe dataTable" id="mytable" role="grid" aria-describedby="mytab_info"></table>
</div>

<div id="Modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
    <div id="ModalContent" class="modal-dialog modal-lg" role="document">

    </div>
</div>

<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
    var defaultContent = "";
    @if(Request.IsAuthenticated)
    {
            @: defaultContent = "<button class='btn m-btn--air btn-warning' title='Edit'><i class='fa fa-book'>Edit</i></button> <button class='btn m-btn--air btn-danger' title='Delete'><i class='fa fa-bolt'>Delete</i></button>"

    }

    var table = $("#mytable").DataTable({
            "processing": true,
            "filter": true,
            "orderMulti": false,
            "searching": true,
            "ajax":
                {
                "url": "/Author/Load",
                    "type": "POST",
                    "datatype": "json"
                },
            "columns":
                [
                    { "data": "Id", "name": "Id", "visible": false, "autoWidth": true },
                    { "data": "Name", "title": "Name", /*"name": "Name",*/ "autoWidth": true },
                    { "data": "DateOfBirth", "title": "Date Of Birth", /*"name": "DateOfBirth",*/ "autoWidth": true },
                    { "data": "PhoneNumber", "title": "Phone Number", /*"name": "Phone Number",*/ "autoWidth": true },
                    { "data": "Email", "title": "Email", /*"name": "Email",*/ "autoWidth": true },
                    {
                        "orderable": false,
                        "targets": -1,
                        "data": null,
                        "autoWidth": true,
                        "defaultContent": defaultContent
                    }
                ]
    });


    $('#mytable tbody').on('click', 'button[title="Delete"]', function () {
            var data = table.row($(this).parents('tr')).data();
                $("#ModalContent").load("@Url.Action("ConfirmChangeActivity", "Author")" + "?id=" + data["Id"]);
				$("#Modal").modal("show");
        });

        //Edit datatable Button //
    $('#mytable tbody').on('click', 'button[title="Edit"]', function () {
        var data = table.row($(this).parents('tr')).data();
        window.location = "../Author/Edit?id=" + data["Id"];
        });

</script>