
<li class="dropdown" data-admin-menu>

    <a href="#">
        Admin
        <span class="glyphicon glyphicon-chevron-down">
        </span>
    </a>

    <ul class="dropdown-menu" role="menu">

        @*place our menu items*@
        <li class="dropdown-header">Main Entities</li>
        <li class="divider" />
        <li><a href="/Author">&nbsp;&nbsp;Author</a></li>
        <li><a href="/News">&nbsp;&nbsp;News</a></li>

       

    </ul>

</li>
